.cont {
    display: flex;
    height: 1080px;
    align-items: center;
    justify-content: center;
    
}

.back {
    
    display: flex;
    width: 250px;
    height: 450px;
    flex-direction: column;

    background: #232323;
    border-radius: 30px;
    justify-content: flex-start;
}

.topcont {
    
    display: flex;
    height: 145px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.result {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

color: #FFFFFF;
}

.resultbox {
    
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #1C1C1C;
    box-shadow: inset 0px 0px 8px 3px #3F3F3F;
    border-radius: 30px;
    
    
    
    
}

.bot {
    display: flex;
    
    height: 305px;
    justify-content: space-evenly;
    
}

.leftbotcont {
    border: 1px solid #000000;
    justify-content: space-evenly;
}





















.numbtn {
    width: 50px;
    height: 50px;
    background: #1C1C1C;
    box-shadow: 4px 4px 8px #000000;
    border-radius: 25px;
    color: #FFFFFF;
    
}


.res {
    
background: #FFAC09;
border-radius: 25px;
width: 50px;
height: 110px;

}
    
    



